// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  border-bottom: 1px solid transparent;
  z-index: 3;

  transition: all 200ms ease-out 50ms;
}

.headerScroll {
  background-color: rgba(22, 22, 26, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contentContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  flex-shrink: 0;
  height: 66px;
  max-width: 1200px;
  padding: 0 32px;
  width: 100%;
  margin: 0 auto;

  a {
    display: flex;
    align-items: center;

    svg {
      text-decoration: none;
      cursor: pointer;
      color: white;
      transition: color 200ms;
    }
  }
}

.desktop {
  display: flex;
  flex-grow: 1;

  .navigation {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .content {
      padding: 0 40px;
      display: flex;
      flex-grow: 1;
      max-width: 250px;
      justify-content: space-between;
      align-items: justify;

      a {
        font-size: 14px;
        text-decoration: none;
        color: #d0d6e0;
        flex-shrink: 0;
        transition: color 200ms;

        &:hover {
          color: white;
        }
      }
    }
  }
}

.authRow {
  display: flex;
  align-items: center;
}

.signUp {
  font-weight: 700;
  margin-right: 16px;
  flex-shrink: 0;
  color: crimson;
  cursor: pointer;
  text-decoration: none;
  transition: color 200ms;

  &:hover {
    color: white;
  }
}

.logo {
  display: flex;
  align-items: center;
  min-width: max-content;

  img {
    cursor: pointer;
    min-width: 100%;
    height: auto;
  }

  * {
    flex-shrink: 0;
  }
}

.appBtn_Btn {
  color: #d0d6e0;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      135.88deg,
      #c31432 9.16%,
      rgb(182, 16, 66) 60.89%,
      #7c0e2b 90.72%
    )
    repeat scroll 0% 0%;
  cursor: pointer;
  border: medium none;
  flex-shrink: 0;
  font-weight: 500;
  transition: all 500ms ease 0s;
  text-shadow: rgba($color: #000000, $alpha: 0.5) 0px 3px 8px;
  border-radius: 4px;
  font-size: 14px;
  height: 2rem;
  padding: 0px 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  p {
    padding-top: 3px;
  }

  &:hover {
    box-shadow: rgba($color: crimson, $alpha: 0.5) 0px 1px 40px;
    transition: all 150ms ease 0s;
  }
}

.menuToggle {
  margin-left: 20px;
  cursor: pointer;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .navigation {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      flex-direction: column;
      padding: 0 0 12px 0px;
      margin: 0;
      max-width: unset;

      a {
        display: flex;
        padding: 8px 24px 8px 76px;
        font-size: 16px;
        font-weight: 400;
        color: #f4f5ff;
        text-decoration: none;
        flex-shrink: 0;
      }
    }
  }
}

.mobile {
  display: none;
  min-width: max-content;
}

@media only screen and (max-width: 900px) {
  .desktop {
    display: none;
  }

  .spacer {
    flex: 1;
  }

  .mobile {
    display: flex;
  }
}
