@import url("https://use.typekit.net/zsw7pxv.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #060606;
  width: 100%;
  min-height: 100vh;
  color: #dadfe7;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border: 0;
  font: inherit;
}
